version: '3.8'

services:
  postgres:
    ports:
      - "5432:5432"

  app:
    build:
      target: deps
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
